*.bak
*.lo
*.log
*.o
*.trs
*~
.deps
.libs
ChangeLog
GNUmakefile
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/ar-lib
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
build-aux/test-driver
config.h
config.h.in
config.log
config.status
configure
gl/arg-nonnull.h
gl/c++defs.h
gl/libgnu.la
gl/stddef.h
gl/string.h
gl/sys/
gl/warn-on-use.h
gtk-doc/html-build.stamp
gtk-doc/html.stamp
gtk-doc/html/
gtk-doc/pdf-build.stamp
gtk-doc/pdf.stamp
gtk-doc/scan-build.stamp
gtk-doc/setup-build.stamp
gtk-doc/sgml-build.stamp
gtk-doc/sgml.stamp
gtk-doc/tmpl-build.stamp
gtk-doc/tmpl.stamp
gtk-doc/tmpl/
gtk-doc/u2f-host-decl-list.txt
gtk-doc/u2f-host-decl.txt
gtk-doc/u2f-host-overrides.txt
gtk-doc/u2f-host-sections.txt
gtk-doc/u2f-host-undeclared.txt
gtk-doc/u2f-host-undocumented.txt
gtk-doc/u2f-host-unused.txt
gtk-doc/u2f-host.args
gtk-doc/u2f-host.hierarchy
gtk-doc/u2f-host.interfaces
gtk-doc/u2f-host.pdf
gtk-doc/u2f-host.prerequisites
gtk-doc/u2f-host.signals
gtk-doc/u2f-host.types
gtk-doc/xml/
libtool
libu2f-host-*-mac.zip*
libu2f-host-*-win32.zip*
libu2f-host-*-win64.zip*
libu2f-host-*.tar.xz*
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
maint.mk
src/cmdline.c
src/cmdline.h
src/libu2f_cmd.la
src/u2f-host
src/u2f-host.1
stamp-h1
tests/.deps/
tests/Makefile
tests/Makefile.in
tests/basic
tmp32
tmp64
u2f-host/libu2f-host.la
u2f-host/libu2f_b64.la
u2f-host/u2f-host-version.h
u2f-host/u2f-host.pc
